<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seulgae.fmbootreact.sample.mapper.SampleMapper">
    <select id="selectSampleById" parameterType="int" resultType="com.seulgae.fmbootreact.sample.model.Sample">
        SELECT id, username, email, created_at
        FROM TEST_TABLE
        WHERE id = #{id}
    </select>
</mapper>